* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ct-all {
  width: 90%;
  height: auto;
  max-width: 1500px;
  margin: 0 auto;
}
.ct-all .ct-header {
  width: 100%;
  height: 100vh;
}
.ct-all .ct-header .ct-navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 80px;
  color: rgb(0, 0, 0);
}
.ct-all .ct-header .ct-navigation .max-ct-nv {
  width: 100%;
  display: flex;
  max-width: 1500px;
  align-items: center;
  justify-content: space-between;
}
.ct-all .ct-header .ct-navigation .center-ct .ulct {
  display: flex;
  gap: 35px;
}
.ct-all .ct-header .ct-navigation .center-ct .ulct a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: 500;
}
.ct-all .ct-header .ct-navigation .right-ct {
  display: flex;
  gap: 20px;
}
.ct-all .ct-header .ct-navigation .right-ct .search {
  width: 130px;
  height: 35px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #eeeff0;
  transition: all ease-in-out 0.2s;
}
.ct-all .ct-header .ct-navigation .right-ct .search .fi-rr-search {
  font-size: 15px;
}
.ct-all .ct-header .ct-navigation .right-ct .search:hover {
  background-color: #eeeff0;
  transition: all ease-in-out 0.2s;
}
.ct-all .ct-header .ct-hd-article {
  height: auto;
  display: flex;
  margin-top: 110px;
  gap: 100px;
}
.ct-all .ct-header .ct-hd-article .ct-hd-article-sc {
  display: flex;
  justify-content: space-around;
  gap: 60px;
}
.ct-all .ct-header .ct-hd-article .ct-hd-article-sc .sc-description {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.ct-all .ct-header .ct-hd-article .ct-hd-article-sc .sc-description .tags-ct {
  margin: 10px 0 10px 0;
}
.ct-all .ct-header .ct-hd-article .ct-hd-article-sc .sc-description .tags-ct .tag {
  padding: 5px 10px 5px 10px;
  text-decoration: underline;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
}
.ct-all .ct-header .ct-hd-article .ct-hd-article-sc .sc-description .tags-ct .tag-web {
  background-color: indigo;
}
.ct-all .ct-header .ct-hd-article .ct-hd-article-sc .sc-description .tags-ct .tag-html {
  background-color: #e73c16;
}
.ct-all .ct-header .ct-hd-article .ct-hd-article-sc .sc-description .tags-ct .tag-css {
  background-color: #078bd2;
}
.ct-all .ct-header .ct-hd-article .ct-hd-article-sc .sc-description .tags-ct .tag-js {
  background-color: #efd40b;
}
.ct-all .ct-header .ct-hd-article .ct-hd-article-sc .sc-description .sc-title {
  font-size: 50px;
}
.ct-all .ct-header .ct-hd-article .ct-hd-article-sc .sc-description .sc-pgh {
  font-size: 20px;
  font-weight: 500;
}
.ct-all .ct-header .ct-hd-article .ct-img-art {
  width: 900px;
  height: auto;
}
.ct-all .ct-header .ct-hd-article .ct-img-art img {
  width: 600px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.ct-all .ct-header .ct-hd-article .creator-art img {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}
.ct-all .ct-header .ct-hd-article .creator-art {
  display: flex;
  gap: 10px;
  font-size: 10px;
}
.ct-all .ct-header .ct-hd-article .creator-art .creator-art-desc {
  display: flex;
  flex-direction: column;
}

.ct-all-explain {
  width: 50%;
  height: auto;
  max-width: 1500px;
  margin: 0 auto;
}
.ct-all-explain .ct-explain {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.ct-all-explain .ct-explain .ct-explain-line {
  font-size: 23px;
  font-weight: bold;
  width: 100%;
  height: auto;
  border-left: 5px solid black;
  padding-left: 20px;
}
.ct-all-explain .ct-explain img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.ct-all-explain .share-post {
  display: flex;
  flex-direction: column;
  margin: 50px 0px 50px 0px;
  gap: 30px;
}
.ct-all-explain .share-post ul {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeef1;
  border-radius: 10px;
  width: 280px;
  height: 70px;
  gap: 45px;
}
.ct-all-explain .share-post ul li {
  font-size: 28px;
}
.ct-all-explain .share-post ul li a {
  color: black;
}

.ct-all-explain footer {
  display: flex;
  gap: 15px;
  width: 100%;
  height: auto;
  margin-top: 150px;
  margin-bottom: 50px;
  justify-content: space-between;
}
.ct-all-explain footer .ct-logo-descrip {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 500;
}
.ct-all-explain footer .ct-logo-descrip img {
  width: 100px;
}
.ct-all-explain footer .ct-social ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ct-all-explain footer .ct-social ul li:hover {
  text-decoration: underline black;
}
.ct-all-explain footer .ct-social a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

@media (max-width: 1150px) {
  .ct-all {
    width: 95%;
    height: auto;
    max-width: 1500px;
    margin: 0 auto;
  }

  .center-ct {
    display: none;
  }

  .ct-hd-article-sc {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style_blog.css.map */
